<div class="jumbotron">
	<div class="container">
	  <h1 class="display-4">Hello, Master of Torque!</h1>
	  <p class="lead">Vehicular social platform to keep track of your modifications and maintenance.</p>
	  <hr class="my-4">
	  <p>Don't have an account? Click the link below, yes it's free.</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
	</div>
</div>
